### Heroes Of Pymoli Data Analysis Findings
#### Work Completed by Megan Gray

* There are 576 active players. The highest percentage of players at 84% are male. The remaining percentage of players are female 14% and other/non-disclosed at 2%.

* The number of purchases documented in this analysis is 780. Of the 780 purchases, 652 were purchased by male players, 113 by females, and 15 by Other/Non-Disclosed players. Teh average total purchase per person shows male players had the lowest average at $4.07, females at $4.47, and Other/Non-disclosed at $4.56.

* While male players purchased more items, the average purchase price and the average total purchase per person shows that their purchase choices were cheaper on average than those items purchased by other players. This may be attributed to the large volume of purchases in comparison to the other two categories.

* The age breakdown of the players in this analysis shows that 20-24 year olds holds the highest percentage of players at 63\%, while 15-19 year olds hold second place at 24\%. The age group with the lowest percentage were players 40 years old and older.

* Of the different age-groups, not surprisingly, the 20-24 year olds and 15-19 year olds purchased the most amount of items. Meanwhile, the top two categories that had the highest average purchase total per person were 35-39 year olds and children less than 10 years old. This may be attributed to a steady income, or purchases made by a childs' parent.

* In the analysis - the top 5 spenders were found to be Lisosia83, Idastidru52, Chamjask73, Iral74, and Iskadarya95. These top 5 spenders purchased 19 items total, and spent a total of $74.96.

* The top 5 most popular items were "Oathbreaker, Last Hope of the Breaking Storm", "Nirvana", "Firery Glass Crusader", "Final Critic", and "Singed Scalpel".

### Assignment Specifications
The company would like you to generate a report that breaks down a game's purchasing data into meaningful insights.

Your final report should include each of the following:

Player Count
* Total Number of Players

Purchasing Analysis (Total)
* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

Purchasing Analysis (Gender)
* The below each broken by gender
* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Average Purchase Total per Person by Gender

Age Demographics
* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Average Purchase Total per Person by Age Group

Top Spenders
* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
* SN
* Purchase Count
* Average Purchase Price
* Total Purchase Value

Most Popular Items
* Identify the 5 most popular items by purchase count, then list (in a table):
* Item ID
* Item Name
* Purchase Count
* Item Price
* Total Purchase Value

Most Profitable Items
* Identify the 5 most profitable items by total purchase value, then list (in a table):
* Item ID
* Item Name
* Purchase Count
* Item Price
* Total Purchase Value

As final considerations:
* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames.
* You must include a written description of three observable trends based on the data.

In [2]:
# Import pandas and numpy in order to run operations for program.
import pandas as pd
import numpy as np

# load CSV file
Heroes_File = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_info = pd.read_csv(Heroes_File)

In [3]:
# Determine table basics.

# purchase_info.describe()
# purchase_info.info()
purchase_info.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

----
## Assignment Specifications
The company would like you to generate a report that breaks down a game's purchasing data into meaningful insights.

Your final report should include each of the following:

### Player Count
* Display the total number of players

In [4]:
# First - create dataframe of columns needed for this section: Gender, SN, and Age
player_specs = purchase_info.loc[:, ["Gender", "SN", "Age"]]

# Calculate the number of unique players. *Remember to remove duplicates!
player_specs = player_specs.drop_duplicates()
number_players = player_specs.count()[0]
total_players = pd.DataFrame([{"Total Players": number_players}])
total_players

   Total Players
0            576

### Purchasing Analysis (Total)
* Run basic analysis to determine number of unique items, total revenue, avg price, etc.
* Summarize data in final dataframe
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [5]:
# Determine basic calculations for table:
Average_price = purchase_info["Price"].mean()
Avg_price = round(Average_price, 2)
Total_count = purchase_info["SN"].count()
Total_sum = purchase_info["Price"].sum()
Unique_Items = len(purchase_info["Item ID"].unique())

# Create Summary DataFrame
Purchasing_DF = pd.DataFrame({"Number of Unique Items": Unique_Items,
                        "Average Purchase Price": Avg_price, 
                        "Total Number of Purchases": Total_count,
                        "Total Revenue": Total_sum}, index=[0])
Purchasing_DF

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,3.05,780,2379.77

### Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [6]:
# Calculate the total number and percentage of players per gender category.
gender_numbers = player_specs["Gender"].value_counts()
gender_percents = gender_numbers / number_players * 100
gender_specs = pd.DataFrame({"Total Count":gender_numbers, "Percentage of Players":gender_percents})

# Round to 2 decimal places
gender_specs = gender_specs.round(2)

gender_specs

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

### Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Create table to include gender count, total purchase price, avg price per person, avg price per gender 

# Complete basic calculations 
gender_count = purchase_info.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
gender_purchase_sum = purchase_info.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_mean = purchase_info.groupby(["Gender"]).mean()["Price"].rename("Avg Purchase Price")

# Determine the 'Normalized Purchasing' Value (Avg Total Purchase per Person)
normalized_gender = gender_purchase_sum / gender_specs["Total Count"]

# Combine values into dataframe
gender_purchase_analysis = pd.DataFrame({"Purchase Count":gender_count,
                                        "Avg Purchase Price":gender_mean,
                                        "Total Purchase Value":gender_purchase_sum,
                                        "Normalized Totals": normalized_gender                                        
                                        })
# Format table
gender_purchase_analysis["Avg Purchase Price"] = gender_purchase_analysis["Avg Purchase Price"].map("${:,.2f}".format)
gender_purchase_analysis["Total Purchase Value"] = gender_purchase_analysis["Total Purchase Value"].map("${:,.2f}".format)
gender_purchase_analysis["Purchase Count"] = gender_purchase_analysis["Purchase Count"].map("{:,}".format)
gender_purchase_analysis["Avg Total Purchase per Person"] = gender_purchase_analysis["Normalized Totals"].map("${:,.2f}".format)

gender_purchase_table = gender_purchase_analysis.loc[:, ["Purchase Count", "Avg Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]
gender_purchase_table

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

### Age Demographics
* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [8]:
# create bins for ages in segments of 4 years
ages = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 9999]
age_name = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Categorize existing players using age bins
player_specs["Age Ranges"] = pd.cut(player_specs["Age"], ages, labels=age_name)

# Calculate the numbers and percentages by age group
age_specs_total = player_specs["Age Ranges"].value_counts()
age_specs_mean = age_specs_total / number_players * 100
age_demographics = pd.DataFrame({"Total Count":age_specs_total, 
                                "Percentage of Players":age_specs_mean})

# Rounding
age_demographics = age_demographics.round(2)

# Sort for final table display
age_demographics.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

### Purchasing Analysis (Age)
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [16]:
# Bin the purchase data by age group
Purchasing_df = purchase_info
Purchasing_df["Age Ranges"] = pd.cut(Purchasing_df["Age"], ages, labels=age_name)

# Complete basic calculations
age_total_purchase = Purchasing_df.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_avg_purchase = Purchasing_df.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_total_counts = Purchasing_df.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

# Calculate 'normalized' value (Average Purchase Total Per Person)
normalized_purchase = age_total_purchase / age_demographics["Total Count"]

# Combine data into DataFrame
purchasing_analysis = pd.DataFrame({"Purchase Count":age_total_counts,
                                   "Average Purchase Price":age_avg_purchase,
                                   "Total Purchase Value":age_total_purchase,
                                   "Normalized Totals":normalized_purchase
                                   })

# Clean up dataframe
purchasing_analysis["Average Purchase Price"] = purchasing_analysis["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis["Total Purchase Value"] = purchasing_analysis["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis["Purchase Count"] = purchasing_analysis["Purchase Count"].map("{:,}".format)
purchasing_analysis["Avg Total Purchase per Person"] = purchasing_analysis["Normalized Totals"].map("${:,.2f}".format)
purchasing_analysis = purchasing_analysis.loc[:,["Purchase Count","Total Purchase Value","Average Purchase Price","Avg Total Purchase per Person"]]

purchasing_analysis

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
10-14,28,$82.78,$2.96,$3.76
15-19,136,$412.89,$3.04,$3.86
20-24,365,"$1,114.06",$3.05,$4.32
25-29,101,$293.00,$2.90,$3.81
30-34,73,$214.00,$2.93,$4.12
35-39,41,$147.67,$3.60,$4.76
40+,13,$38.24,$2.94,$3.19
<10,23,$77.13,$3.35,$4.54

### Top Spenders
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

### Determine the highest 5 spenders in data.

In [ ]:
Spenders = Purchasing_df.groupby(["SN"]).sum()["Price"]
Sorted_Spenders = Spenders.sort_values(ascending=False)
Sorted_spend_ren = Sorted_Spenders.rename("Total Purchase Value")
Sorted_spend_ren.head()

In [ ]:
Count_Per_SN = Purchasing_df.groupby(["SN"]).SN.count()
sorted_count = Count_Per_SN.sort_values(ascending=False)
rename_count = sorted_count.rename("Purchase Count")
rename_count.head()

In [ ]:
#determine average purchase price
Avg_purchase_price = Sorted_spend_ren / rename_count
Avg_purchase_ren = Avg_purchase_price.rename("Average Purchase Price")

In [ ]:
#create final dataframe with concat function.
Top_Spending_DF = pd.concat([rename_count, Sorted_spend_ren, Avg_purchase_ren], axis=1, sort=True)
sort_Top_Spenders = Top_Spending_DF.sort_values(by=["Total Purchase Value"], ascending=False)
sort_Top_Spenders.round(2).head()

In [ ]:
final_spenders = sort_Top_Spenders.iloc[:5]
final_spenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Create initial groupby series with Item ID, Item Name and get the sum of the Price column

most_popular_item_Df = Purchasing_df.groupby(["Item ID","Item Name"]).sum()["Price"]
rename_sum = most_popular_item_Df.rename("Total Purchase Value")
sum_popular_item_sorted = rename_sum.sort_values(ascending=False)
sum_popular_item_sorted.head()

In [ ]:
Most_Pop_DF = pd.concat([sum_popular_item_sorted], axis=1, sort=True)
Most_Pop_DF.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
Most_Pop_sorted = Most_Pop_DF.sort_values(by="Total Purchase Value", ascending=False)
Most_Pop_sorted.head()